#essay_page
  .author-content.author-content-item.essayPage.single
    .card-content
      .author-content-item-tips 即刻短文
      span.author-content-item-title 宇宙山河浪漫，生活点滴温暖。
      .content-bottom
  #bilidynamic