{% import 'menu-item.njk' as menu_item with context %}

{%- if theme.menu or theme.algolia_search.enable or theme.local_search.enable %}
<nav class="site-nav">
  <ul class="main-menu menu">
  <span id="timeDate">载入天数...</span>
  <span id="times">载入时分秒...</span>
  <script>
    var now = new Date();
    function createtime() {var grt= new Date("11/27/2022 00:00:00");//此处修改你的建站时间或者网站上线时间         
    now.setTime(now.getTime()+250);         
    days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);         
    hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);         
    if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);        
    mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}         seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);         
    snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}         document.getElementById("timeDate").innerHTML = "本站已安全运行 "+dnum+" 天 ";         
    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";     } setInterval("createtime()",250);
  </script>
    {%- for node in theme.main_menu %}
      {{- menu_item.render(node) | trim }}
    {%- endfor %}

    {%- if theme.algolia_search.enable or theme.local_search.enable %}
      <li class="menu-item menu-item-search">
        <a role="button" class="popup-trigger">
          {%- if theme.menu_settings.icons %}<i class="fa fa-search fa-fw"></i>{% endif %}{{ __('menu.search') }}
        </a>
      </li>
    {%- endif %}
  </ul>
</nav>
{%- endif %}
